{% extends "base/base.html" %}

{% block titulo %}
Clientes
{% endblock %}

{% block conteudo %}

<h1>Lista de Clientes</h1>

<form action="{{ url_for('cadastrar_cliente') }}" method="POST">

    <input
        type="text"
        name="nome"
        placeholder="Digite o nome do cliente"
        required
    >

    <button class="button button-success">
        <i class="fa-solid fa-plus"></i>
        Cadastrar
    </button>

</form>

<hr>

<ul>

    {% for cliente in clientes %}

    <li>

        <strong>
            Nome: {{ cliente.nome }}
        </strong>

        <a
    href="{{ url_for('tela_editar_cliente', id_cliente=cliente.id) }}"
    class="button button-secondary"
>
    <i class="fa-solid fa-pen"></i>
    Editar
</a>

<a
href="{{ url_for('excluir_cliente', id_cliente=cliente.id) }}"
class="button button-danger"
onclick="return confirm('Deseja realmente excluir este cliente?')"
>
<i class="fa-solid fa-trash"></i>
Excluir
</a>
        

    </li>

    {% endfor %}

</ul>

{% endblock %}