{% extends "base/base.html" %}

{% block titulo %}
Editar Cliente
{% endblock %}

{% block conteudo %}

    <h1>Editar Cliente</h1>

    <form method="POST">

        <label>Nome:</label>

        <input
            type="text"
            name="nome"
            value="{{ cliente.nome }}"
            required
        >

        <button type="submit" class="button button-primary">
            <i class="fa-solid fa-floppy-disk"></i>
            Salvar
        </button>

        <a
    href="{{ url_for('cliente') }}"
    class="button button-secondary"
>
    <i class="fa-solid fa-arrow-left"></i>
    Voltar
</a>

    </form>

    {% endblock %}