{% extends "base/base.html" %}

{% block titulo %}
Fechamento Diário
{% endblock %}

{% block conteudo %}

<h1>Fechamento Diário</h1>

<div class="mb-3">

    <a
        href="/relatorio"
        class="btn btn-outline-secondary"
    >
        ← Voltar
    </a>

</div>

<form
    method="POST"
    action="/relatorio/fechamento/pdf"
    target="_blank"
>

    <label>
        Data
    </label>

    <input
        type="date"
        name="data"
        required
    >

    <button type="submit">
        Gerar PDF
    </button>

</form>

{% endblock %}