.detalhes-topo{

    margin-bottom: 30px;
}

.detalhes-titulo{

    text-align: center;

    color: #2e7d32;

    margin-top: 20px;

    margin-bottom: 30px;
}

.detalhes-titulo{

    text-align: center;

    color: #2e7d32;

    margin-top: 25px;

    margin-bottom: 30px;
}

.card-detalhes{

    margin-top: 20px;
}

.tabela-produtos{

    width: 100%;

    border-collapse: collapse;
}

.tabela-produtos th{

    background: #2e7d32;

    color: white;

    padding: 14px;

    text-align: center;
}

.tabela-produtos td{

    padding: 14px;

    text-align: center;

    border-bottom: 1px solid #e5e5e5;
}

.tabela-produtos tr:hover{

    background: #f8f9fa;
}