{% extends "base/base.html" %}

{% block conteudo %}

<h1>Editar Usuário</h1>

<form method="POST">

    <input
        type="text"
        name="nome"
        value="{{ usuario.nome }}"
        required
    >

    <input
        type="text"
        name="usuario"
        value="{{ usuario.usuario }}"
        required
    >

    <select
        name="perfil"
        required
    >

        <option
            value="administrador"
            {% if usuario.perfil == "administrador" %}
            selected
            {% endif %}
        >
            administrador
        </option>

        <option
            value="gerente"
            {% if usuario.perfil == "gerente" %}
            selected
            {% endif %}
        >
            gerente
        </option>

        <option
            value="Funcionario"
            {% if usuario.perfil == "Funcionario" %}
            selected
            {% endif %}
        >
            Funcionário
        </option>

    </select>

    <a
        href="/usuario"
        class="button button-secondary"
    >
        Voltar
    </a>

    <button
        type="submit"
        class="button button-primary"
    >
        Salvar
    </button>

</form>

{% endblock %}