{% extends "base/base.html" %}

{% block titulo %}
Editar Fornecedor
{% endblock %}

{% block css %}

<link
    rel="stylesheet"
    href="{{ url_for(
        'static',
        filename='css/pages/fornecedor.css'
    ) }}"
>

{% endblock %}

{% block conteudo %}

<div class="page-title">

    <h1>
        Editar Fornecedor
    </h1>

</div>

<div class="editar-card">

    <form
        action="/fornecedor/editar/{{ fornecedor.id }}"
        method="POST"
    >

        <div class="form-group">

            <label>
                Nome
            </label>

            <input
                type="text"
                name="nome"
                value="{{ fornecedor.nome }}"
                required
            >

        </div>

        <div class="form-group">

            <label>
                Telefone
            </label>

            <input
                type="text"
                name="telefone"
                value="{{ fornecedor.telefone }}"
            >

        </div>

        <div class="form-group">

            <label>
                Observação
            </label>

            <textarea
                name="observacao"
                rows="5"
            >{{ fornecedor.observacao }}</textarea>

        </div>

        <div class="editar-acoes">

            <a
                href="/fornecedor"
                class="button button-secondary"
            >
                <i class="fa-solid fa-arrow-left"></i>
                Voltar
            </a>

            <button
                type="submit"
                class="button button-success"
            >
                <i class="fa-solid fa-floppy-disk"></i>
                Salvar Alterações
            </button>

        </div>

    </form>

</div>

{% endblock %}