{% extends "base/base.html" %}

{% block titulo %}
Transferir para Fiado
{% endblock %}

{% block conteudo %}

<div class="page-header">

    <h1>
        Transferir para Fiado
    </h1>

</div>

<form
    action="/conta/transferir/confirmar/{{ conta_id }}"
    method="POST"
>

    <label>
        Cliente
    </label>

    <select
        name="cliente_id"
        required
    >

        <option value="">
            Selecione...
        </option>

        {% for cliente in clientes %}

        <option value="{{ cliente.id }}">

            {{ cliente.nome }}

        </option>

        {% endfor %}

    </select>

    <br><br>

    <a
        href="/cliente"
        class="button button-success"
    >
        <i class="fa-solid fa-user-plus"></i>

        Cadastrar Novo Cliente
    </a>

    <button
        type="submit"
        class="button button-warning"
    >
        Transferir para Fiado
    </button>

</form>

{% endblock %}