{% extends "base/base.html" %}

{% block titulo %}
Histórico de Movimentação
{% endblock %}

{% block conteudo %}

<link
    rel="stylesheet"
    href="{{ url_for(
        'static',
        filename='css/components/search.css'
    ) }}"
>

<link
    rel="stylesheet"
    href="{{ url_for(
        'static',
        filename='css/pages/historico_movimentacao.css'
    ) }}"
>

<div class="historico-container">

    <div class="historico-topo">

        <a
            href="/estoque"
            class="button button-secondary"
        >
            ← Voltar
        </a>

        <h2 class="historico-titulo">
            Histórico de Movimentação
        </h2>

    </div>

    <!-- PESQUISA -->

<div class="estoque-pesquisa">

    <div class="search-box">

        <i class="fa-solid fa-magnifying-glass"></i>

        <input
            type="text"
            id="search-input"
            placeholder="Pesquisar Produto..."
        >

    </div>

</div>

    <div class="tabela-container">

        <table class="tabela-historico">

            <thead>

                <tr>
                    <th>Data</th>

                    <th>Produto</th>

                    <th>Tipo</th>

                    <th>Quantidade</th>

                    <th>Motivo</th>

                </tr>

            </thead>

            <tbody id="tabelaMovimentacao">

                {% for item in movimentacoes %}

                <tr class="linha-movimentacao">
                    <td>
                        {{ item.data_movimentacao.strftime('%d/%m/%Y') }}
                    </td>

                    <td class="produto">
                        {{ item.nome }}
                    </td>

                    <td>

                        <span
                            class="tipo-movimentacao {{ item.tipo_movimentacao }}"
                        >
                            {{ item.tipo_movimentacao
                                | replace("_", " ")
                                | title
                            }}
                        </span>
                    
                    </td>

                    <td>

                        {% if item.quantidade_caixa > 0 %}
                    
                            {{ item.quantidade_caixa }} Caixa(s)
                    
                        {% elif item.quantidade_unidade > 0 %}
                    
                            {{ item.quantidade_unidade }} Unidade(s)
                    
                        {% elif item.quantidade_fracionada > 0 %}
                    
                            {{ item.quantidade_fracionada }} Avulso
                    
                        {% else %}
                    
                            -
                    
                        {% endif %}
                    
                    </td>

                    <td>
                        {{ item.motivo }}
                    </td>

                </tr>

                {% endfor %}

            </tbody>

        </table>

    </div>

</div>
{% endblock %}

{% block scripts %}

<script
    src="{{ url_for(
        'static',
        filename='js/components/search_historico_movimentacao.js'
    ) }}"
></script>

{% endblock %}