{% extends "base/base.html" %}

{% block titulo %}
Carrinho
{% endblock %}

{% block css %}

<link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/pages/carrinho.css') }}"
>

<link
    href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
    rel="stylesheet"
/>

{% endblock %}


{% block conteudo %}

<div class="cabecalho-carrinho">

    <h1>Carrinho</h1>

    <div class="acoes-topo">

        {% if carrinho %}

<button
    type="button"
    class="button button-danger"
    data-modal="modal-limpar-carrinho"
>
    <i class="fa-solid fa-trash"></i>
    Limpar Carrinho
</button>
        {% endif %}

        <a
            href="/venda"
            class="button button-secondary"
        >
            <i class="fa-solid fa-arrow-left"></i>
            Voltar para Vendas
        </a>

    </div>

</div>

{% if carrinho %}

<div class="carrinho-grid">

    {% for item in carrinho %}

    <div class="carrinho-card">
    
        <div class="carrinho-imagem">
    
            {% if item.get("tipo_item") == "sinuca" %}

            <img
                src="{{ url_for(
                    'static',
                    filename='img/sinuca.png'
                ) }}"
                alt="Ficha de Sinuca"
            >
            
            {% elif item.imagem %}
            
            <img
                src="{{ url_for(
                    'static',
                    filename='uploads/produtos/' ~ item.imagem
                ) }}"
                alt="{{ item.nome }}"
            >
            
            {% else %}
            
            <i class="fa-solid fa-box fa-3x"></i>
            
            {% endif %}
    
        </div>
    
        <div class="carrinho-info">
    
            <h3>
                {{ item.nome }}
            </h3>
    
            {% if item.get("tipo_item") == "sinuca" %}

            <div class="tipo-venda">
                <i class="fa-solid fa-tag"></i>
                Ficha de Sinuca
            </div>
            
            {% else %}
            
            <div class="tipo-venda">
                <i class="fa-solid fa-tag"></i>
                {{ item.tipo_venda|capitalize }}
            </div>
            
            {% endif %}
    
            <div class="controle-quantidade">

                {% if item.quantidade == 1 %}

<button
    type="button"
    class="button button-secondary"
    data-modal="modal-remover-{{ loop.index0 }}"
>
    -
</button>

{% else %}

<form
    action="/carrinho/menos/{{ loop.index0 }}"
    method="POST"
>

    <button
        class="button button-secondary"
    >
        -
    </button>

</form>

{% endif %}
            
                <input
    type="number"
    value="{{ item.quantidade }}"
    class="input-quantidade"
    readonly
>
                <form
                    action="/carrinho/mais/{{ loop.index0 }}"
                    method="POST"
                >
            
                    <button
                        class="button button-success"
                    >
                        +
                    </button>
            
                </form>
            
            </div>

            {% if item.preco_unitario != item.get('preco_original', item.preco_unitario) %}


            <div class="alerta-preco">

                <i class="fa-solid fa-tag"></i>
            
                Desconto aplicado
            
                (R$ {{ "%.2f"|format(
                    item.preco_original - item.preco_unitario
                ) }} por unidade)
            
            </div>
            
            {% endif %}

<p>

    Preço original:

    <strong>
        R$ {{ "%.2f"|format(item.get('preco_original', item.preco_unitario)) }}
    </strong>

</p>

<form
    action="/carrinho/preco/{{ loop.index0 }}"
    method="POST"
    class="form-preco"
>

    <label>
        Desconto aplicado:
    </label>

    <input
        type="number"
        step="0.01"
        min="0.01"
        name="preco_unitario"
        value="{{ item.preco_unitario }}"
        required
    >

    <button
        class="button button-primary"
    >
        Salvar
    </button>

</form>

            <div class="subtotal">
    
                <span>
                    Subtotal
                </span>
    
                <strong>
                    R$ {{ "%.2f"|format(item.subtotal) }}
                </strong>
    
            </div>
    
            <button
    type="button"
    class="button button-danger"
    data-modal="modal-remover-{{ loop.index0 }}"
>
    <i class="fa-solid fa-trash"></i>
    Excluir
</button>
<div
    class="modal"
    id="modal-remover-{{ loop.index0 }}"
>

<div class="modal-content">

    <div class="modal-header">

        <i class="fa-solid fa-triangle-exclamation"></i>

        <h3>
            Remover Produto
        </h3>

    </div>

    <p class="modal-texto">

        Deseja remover

        <strong>{{ item.nome }}</strong>

        do carrinho?

    </p>

    <div class="modal-actions">

        <button
            class="button button-secondary"
            data-close-modal
        >
            Cancelar
        </button>

        <form
            action="/carrinho/remover/{{ loop.index0 }}"
            method="POST"
        >

            <button
                class="button button-danger"
            >
                Remover
            </button>

        </form>

    </div>

</div>

</div>
    
        </div>
    
    </div>
    
    {% endfor %}
</div>

<div class="carrinho-total">

    <div class="linha-resumo">

        <span>Total bruto</span>

        <strong id="total-bruto">
            R$ {{ "%.2f"|format(total_carrinho) }}
        </strong>

    </div>

    <div class="linha-resumo">

        <span>Desconto</span>

        <strong id="valor-desconto">
            R$ 0,00
        </strong>

    </div>

    <div class="total-final">

        <span>Total final</span>

        <strong id="valor-final">
            R$ {{ "%.2f"|format(total_carrinho) }}
        </strong>

    </div>

</div>

<div class="desconto-geral">

    <label>
        Desconto (R$)
    </label>

    <input
        type="number"
        step="0.01"
        min="0"
        name="desconto_venda"
        value="0"
    >

</div>

<h2 class="titulo-finalizar">
    Finalizar venda
</h2>

<div class="opcoes-finalizacao">

    <button
    id="card_receber"
    type="button"
    class="card-finalizacao receber"
    onclick="mostrarReceber()"
>
        <i class="fa-solid fa-money-bill-wave"></i>

        <span>
            Receber Agora
        </span>

        <small>
            Pagamento imediato
        </small>
    </button>

    <button
    id="card_fiado"
    type="button"
    class="card-finalizacao fiado"
    onclick="mostrarFiado()"
>
        <i class="fa-solid fa-user-clock"></i>

        <span>
            Venda Fiado
        </span>

        <small>
            Vincular ao cliente
        </small>
    </button>

    <button
    id="card_pendente"
    type="button"
    class="card-finalizacao pendente"
    onclick="mostrarPendente()"
>
        <i class="fa-solid fa-file-invoice-dollar"></i>

        <span>
            Conta Pendente
        </span>

        <small>
            Pagamento depois
        </small>
    </button>

</div>
<!-- RECEBER AGORA -->
<div
    id="div_receber"
    class="finalizacao-box"
    style="display:none;"
>

<p class="titulo-finalizacao">
    Pagamento imediato
</p>
    <form
        action="/carrinho/finalizar"
        method="POST"
    >

        <input
            type="hidden"
            name="tipo_finalizacao"
            value="pago"
        >

        <label>
            Valor recebido:
        </label>

        <input
            type="number"
            step="0.01"
            name="valor_recebido"
            required
        >

        <button
            class="button button-success"
        >
            Confirmar Pagamento
        </button>

    </form>

</div>


<!-- VENDA FIADO -->
<div
    id="div_fiado"
    class="finalizacao-box"
    style="display:none;"
>

<p class="titulo-finalizacao">
    Vincular cliente ao fiado
</p>

    <form
        action="/carrinho/finalizar"
        method="POST"
    >

        <input
            type="hidden"
            name="tipo_finalizacao"
            value="fiado"
        >

        <label>
            Cliente:
        </label>

        <select
    name="cliente_id"
    class="select-cliente"
    required
>

            <option value="">
                Escolha um cliente
            </option>

            {% for cliente in clientes %}

            <option
                value="{{ cliente.id }}"
            >
                {{ cliente.nome }}
            </option>

            {% endfor %}

        </select>

        <button
            class="button button-primary"
        >
            Confirmar Fiado
        </button>

    </form>

</div>


<!-- CONTA PENDENTE -->
<div
    id="div_pendente"
    class="finalizacao-box"
    style="display:none;"
>

<p class="titulo-finalizacao">
    Registrar conta pendente
</p>

    <form
        action="/carrinho/finalizar"
        method="POST"
    >

        <input
            type="hidden"
            name="tipo_finalizacao"
            value="pendente"
        >

        <label>
            Nome:
        </label>

        <input
            type="text"
            name="nome_cliente_temporario"
            required
        >

        <button
            class="button button-secondary"
        >
            Confirmar Pendência
        </button>

    </form>

</div>

{% else %}

<div class="carrinho-vazio">

    <i class="fa-solid fa-cart-shopping"></i>

    <h2>Carrinho vazio</h2>

    <p>
        Nenhum produto foi adicionado à venda.
    </p>

</div>

{% endif %}

<div
class="modal"
id="modal-limpar-carrinho"
>

<div class="modal-content">

    <div class="modal-header">

        <i class="fa-solid fa-triangle-exclamation"></i>

        <h3>
            Limpar Carrinho
        </h3>

    </div>

    <p class="modal-texto">

        Todos os itens serão removidos da venda.

        <br><br>

        <strong>
            Esta ação não pode ser desfeita.
        </strong>

    </p>

    <div class="modal-actions">

        <button
            class="button button-secondary"
            data-close-modal
        >
            Cancelar
        </button>

        <form
            action="/carrinho/limpar"
            method="POST"
        >

            <button
                class="button button-danger"
                type="submit"
            >
                Limpar
            </button>

        </form>

    </div>

</div>

</div>

</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<script
    src="{{ url_for(
        'static',
        filename='js/pages/carrinho.js'
    ) }}"
></script>

{% endblock %}