<header class="header">

    <div class="header-left">

        <button
            id="btn-menu"
            class="header-toggle"
        >

            <i class="fa-solid fa-bars"></i>

        </button>

        <h1 class="header-title">

            {{ titulo_pagina|default("Sistema") }}

        </h1>

    </div>

    <div class="header-user">

        <i class="fa-solid fa-circle-user"></i>
    
        <div class="header-user-info">
    
            <span class="header-user-name">
                {{ session["nome"] }}
            </span>
    
            <small class="header-user-role">
                {{ session["perfil"]|capitalize }}
            </small>
    
        </div>

        <a
        href="/logout"
        class="button button-danger"
    >
        <i class="fa-solid fa-right-from-bracket"></i>
        Sair
    </a>
    
    </div>

</header>